<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title">
                <div class="center">
                    <a class="btn-custom-radius center btn-clinic" ng-click="clickClinicInformation()">จัดการข้อมูลคลินิก</a>
                </div>
            </span>
            <div style="margin-top: 20px;" class="center">
                <img class="responsive-img" src="../image/home.png">
            </div>
        </div>
    </div>
</div>
<div id="modal-clinic-information" class="modal modal-fixed-footer" style="overflow-y: hidden">
    <div class="modal-header">
        <span class="row" >
            <font><span style="margin-left: 20px;font-size: 40px;">ข้อมูลคลินิก</span><span class="pointer modal-close right"style="margin-right: 10px;font-size: 25px">&times;</span></font>
        </span>
    </div>
    <div class="modal-content">
        <div class="row center" style="height: 150px;">
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">label</i>
                    <input type="text" id="clinic-name" ng-model="clinic.clinicName">
                    <label for="clinic-name" class="update">ชื่อคลินิก</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">home</i>
                    <textarea type="text" id="clinic-address" class="materialize-textarea" ng-model="clinic.clinicAddress"></textarea>
                    <label for="clinic-address" class="update">ที่อยู่</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="id">label</i>
                    <input type="text" id="clinic-tel" ng-model="clinic.tel">
                    <label for="clinic-tel" class="update">เบอร์โทร</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">email</i>
                    <input type="text" id="clinic-email" ng-model="clinic.email">
                    <label for="clinic-email" class="update">อีเมล</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="id">label</i>
                    <input type="text" id="clinic-opentime" ng-model="clinic.openTime">
                    <label for="clinic-opentime" class="update">เวลาเปิด</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">email</i>
                    <input type="text" id="clinic-closetime" ng-model="clinic.closeTime">
                    <label for="clinic-closetime" class="update">เวลาปิด</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="id">label</i>
                    <input type="text" id="clinic-taxId" ng-model="clinic.taxId">
                    <label for="clinic-taxId" class="update">หมายเลขผู้เสียภาษี</label>
                </div>
            </div>
            <div class="row">   
                <div style="margin: 0px auto" class="center">
                    <img id="logo" class="responsive-img" ng-src="">
                </div>
                <div class="center">
                    <input type="file" id="input-clinic-picture" custom-on-change="saveFile" file-model="image" style="margin-top: 20px">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row center margin-top">
                    <a class="btn-custom-radius btn-cancelv2 modal-close">ปิด</a>
                    <a class="btn-custom-radius btn-edit" ng-click="saveClinic()" type="submit">บันทึก<i class="mdi-content-send right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pointer:hover{
        cursor: pointer;
    }
</style>
