<div class="container">
    <div class="card">
        <div class="card-content">
            <span ng-show="isAdmin" class="card-title">
                <div class="center">
                    <a class="btn-custom-radius center btn-clinic" ng-click="clickClinicInformation()">จัดการข้อมูลคลินิก</a>
                </div>
            </span>
            <div style="margin-top: 20px;" class="center">
                <img class="responsive-img" src="../image/home.png">
            </div>
        </div>
    </div>
</div>
<div id="modal-clinic-information" class="modal modal-fixed-footer" style="overflow-y: hidden">
    <div class="modal-header">
        <span class="row" >
            <font><span style="margin-left: 20px;font-size: 40px;">ข้อมูลคลินิก</span><span class="pointer modal-close right"style="margin-right: 10px;font-size: 25px">&times;</span></font>
        </span>
    </div>
    <div class="modal-content">
        <div class="row center" style="height: 150px;">
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix clinic">label</i>
                    <input type="text" id="clinic-name" ng-model="clinic.clinicName">
                    <label for="clinic-name" class="update">ชื่อคลินิก</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix clinic">home</i>
                    <textarea type="text" id="clinic-address" class="materialize-textarea" ng-model="clinic.clinicAddress"></textarea>
                    <label for="clinic-address" class="update">ที่อยู่</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix clinic">call</i>
                    <input type="text" id="clinic-tel" ng-model="clinic.tel">
                    <label for="clinic-tel" class="update">เบอร์โทร</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix clinic">email</i>
                    <input type="text" id="clinic-email" ng-model="clinic.email">
                    <label for="clinic-email" class="update">อีเมล</label>
                </div>
            </div>
            <div class="row">
                <div id="time-opentime">
                    <div class="col m6 s12 input-field">
                        <i class="material-icons prefix clear-prefix clinic">schedule</i>
                        <input type="text" id="clinic-opentime" ng-model="clinic.openTime">
                        <label for="clinic-opentime" class="update">เวลาเปิด</label>
                    </div>
                </div>
                <div id="time-closetime">
                    <div class="col m6 s12 input-field">
                        <i class="material-icons prefix clear-prefix clinic">schedule</i>
                        <input type="text" id="clinic-closetime" ng-model="clinic.closeTime">
                        <label for="clinic-closetime" class="update">เวลาปิด</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field" id="id">
                    <i class="material-icons prefix clear-prefix clinic">class</i>
                    <input type="text" id="clinic-taxId" ng-model="clinic.taxId">
                    <label for="clinic-taxId" class="update">หมายเลขผู้เสียภาษี</label>
                </div>
            </div>
            <div class="row"> 
                <font class="center" size="5">โลโก้คลินิก</font>
                <div style="margin: 0px auto" class="center">
                    <img id="logo" style="max-width: 400px" class="responsive-img" ng-src="">

                </div>
                <div class="center">
                    <input type="file" id="input-clinic-picture" custom-on-change="saveFile" file-model="image" style="margin-top: 20px">
                </div>
                <span class="right" style="margin-top: -25px">
                    <a class="btn-custom-radius btn-cancelv2 modal-close">ปิด</a>
                    <a class="btn-custom-radius btn-edit" ng-click="saveClinic()" type="submit">บันทึก<i class="mdi-content-send right"></i></a>
                </span>
            </div>
            <!--
                        <div class="row right">
                            <a class="btn-custom-radius btn-cancelv2 modal-close">ปิด</a>
                            <a class="btn-custom-radius btn-edit" ng-click="saveClinic()" type="submit">บันทึก<i class="mdi-content-send right"></i></a>
                        </div>-->

        </div>
    </div>
</div>

<div id="modal-changepassword" class="modal" style="border-radius: 10px;">
    <div class="modal-content">
        <div class="row center">
            <h4 style="padding: 20px;" class="margin-top-20 magin-buttom-20">เเก้ไขข้อมูล</h4>
        </div>
        <div class="row">
            <div class="col m6 s12 input-field">
                <i class="material-icons prefix clear-prefix">email</i>
                <input type="text" id="email" ng-model="login.email" ng-change="error.violations.email.message = '';setBackgroundPrefixId()">
                <label for="email" class="update">อีเมล<span class="necessary">*</span><span class="margin-left necessary-text">{{error.violations.email.message}}</span></label>
            </div>
        </div>
        <div class="row">
            <div class="col m6 s12 input-field">
                <i class="material-icons prefix clear-prefix">lock</i>
                <input type="password" id="password" password-validate ng-model="password" ng-change="comparePassword();
                                error.violations.password.message = ''" 
                       maxlength="12" minlength="8" size="12" length="12">
                <div class="input-help" style="margin-left: 45px; width: 400px;">
                    <h4>รหัสควรกรอกตามเงื่อนไขต่อไปนี้:</h4>
                    <ul>
                        <li ng-class="pwdHasLetter">ควรมีตัวอักษรอย่างน้อย 1 ตัว</li>
                        <li ng-class="pwdHasNumber">ควรมีตัวเลขอย่างน้อย 1 ตัว</li>
                        <li ng-class="pwdValidLength">ความยาวรหัสผ่าน 8-12 ตัวเท่านั้น</li>
                    </ul>
                </div>
                <label for="password" class="update">รหัสผ่าน<span class="necessary" >*</span><span class="margin-left necessary-text">{{error.violations.password.message}}</span></label>
            </div>
            <div class="col m6 s12 input-field">
                <i class="material-icons prefix clear-prefix">lock</i>
                <input type="password" id="confirmpassword"  ng-model="login.password" ng-change="comparePassword();
                                error.violations.password.message = ''">
                <label for="confirmpassword" class="update">ยืนยันรหัสผ่าน<span class="necessary">*</span><span class="margin-left necessary-text">{{error.violations.password.message}}</span></label>
            </div>
        </div>
    </div>
    <div class="model-footer right">
        <a href="" class="magin-button btn btn-disabled modal-action modal-close" ng-click="removeBlackGround()">ยกเลิก</a>
        <a href="" class="magin-button btn btn-edit modal-action modal-close" ng-click="selectSave();removeBlackGround()">ตกลง</a>
    </div>
</div>

<div id="warp-toast">
</div>

<style>
    .pointer:hover{
        cursor: pointer;
    }
</style>
