
<div class="container">

    <div class="card">
        <div class="card-content">

            <span class="card-title" style="color: black;"><h4>เพิ่มคนไข้</h4></span>

            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="id">label</i>
                    <input type="text" id="id" disabled ng-model="patient.id">
                    <label for="id" class="update">รหัสผู้ป่วย</label>
                </div>
              
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">book</i>
                    <input type="text" id="pid" pid-input ng-model="patient.pid" ng-change="error.violations.pid.message = '';">
                    <label  for="pid" class="update">เลขประจำตัวประชาชน<span class="necessary">*</span><span class="margin-left necessary-text">{{error.violations.pid.message}}</span></label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">person</i>
                    <input type="text" id="name" ng-model="patient.name" ng-change="setBackgroundPrefixSex();error.violations.name.message = ''">
                    <label for="name" class="update">ชื่อ/สกุล<span class="necessary">*</span><span class="margin-left necessary-text">{{error.violations.name.message}}</span></label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">cake</i>
                    <input type="date" class="datepicker" id="birthdate" ng-model="patient.birthDate">
                    <label  for="birthdate" class="update" id="label-birthdate">วันเกิด</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="sex">wc</i>
                    <div class="select-custom">
                        <select class="browser-default" id="select-sex" ng-model="patient.sex" ng-init="patient.sex = 'ชาย'"> 
                            <option value="ชาย">ชาย</option>
                            <option value="หญิง">หญิง</option>
                        </select> 
                    </div>
                    <label class="active" id="label-sex">เพศ</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" id="blood">format_bold</i>
                    <div class="select-custom">
                        <select class="browser-default" id="select-blood" ng-model="patient.blood" ng-init="patient.blood = 'A'">
                            <option value="A">A</option>
                            <option value="B">B</option> 
                            <option value="AB">AB</option>
                            <option value="O">O</option>
                        </select>
                    </div>
                    <label class="active" id="label-blood">กรุ๊ปเลือด</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">public</i>
                    <input type="text" id="nation" ng-model="patient.nation">
                    <label for="nation" class="update">สัญชาติ</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">public</i>
                    <input type="text" id="race"  ng-model="patient.race">
                    <label for="race" class="update">เชื้อชาติ</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">home</i>
                    <textarea type="text" id="address" class="materialize-textarea"  ng-model="patient.address"></textarea>
                    <label for="address" class="update">ที่อยู่</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">stay_current_portrait</i>
                    <input type="text" id="tel" tel-input ng-model="patient.tel">
                    <label for="tel" class="update">เบอร์โทร</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">stay_current_portrait</i>
                    <input type="text" id="mobile" mobile-input ng-model="patient.mobile">
                    <label for="mobile" class="update">เบอร์โทรศัพท์มือถือ</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">work</i>
                    <input type="text" id="mobile" ng-model="patient.job">
                    <label for="mobile" class="update">อาชีพ</label>
                </div>
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix">email</i>
                    <input type="email" id="mobile" ng-model="patient.email">
                    <div class="input-help" style="margin-left: 45px; width: 400px;">
                        <h4>รูปแบบอีเมลไม่ถูกต้อง ตัวอย่างที่ถูกต้อง example@example </h4>
                    </div>
                    <label for="mobile" class="update">อีเมลล์</label>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 input-field">
                    <i class="material-icons prefix clear-prefix" >mood</i>
                    <input type="text" ng-model="patient.doctor.nameTh" ng-click="clickDoctor()">
                    <label id="doctor-label" class="update">ทันตแพทย์ประจำตัว</label>
                </div> 
            </div>


        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title" style="color: black"><h5>ประวัติทางการเเพทย์</h5></span>
                <div class="row">
                    <div class="col m3 s12" ng-repeat="medi in medicalHistory.content">
                        <input type="checkbox" checklist-model="patient.medicalHistory" checklist-value="medi" id="{{medi.disease}}">
                        <label for="{{medi.disease}}">{{medi.disease}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title" style="color: black"><h5>อัพโหลดรูปภาพ ฟิล์มเอ็กเรย์</h5></span>
                <div style="margin: 0px auto" class="center">
                    <img id="patient-xrayfilm" class="responsive-img" ng-src="">
                </div>
                <div class="center">
                    <input type="file" id="input-patient-xrayfilm" custom-on-change="savePictureXray" file-model="patientPictureXrayFilm" style="margin-top: 20px">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title" style="color: black"><h5>อัพโหลดรูปภาพ ก่อนจัดฟัน</h5></span>
                <div style="margin: 0px auto" class="center">
                    <img id="patient-before" class="responsive-img" ng-src="">
                </div>
                <div class="center">
                    <input type="file" id="input-patient-before" custom-on-change="savePictureBefore" file-model="patientPictureBefore" style="margin-top: 20px">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title" style="color: black"><h5>อัพโหลดรูปภาพ ระหว่างจัดฟัน</h5></span>
                <div style="margin: 0px auto" class="center">
                    <img id="patient-current" class="responsive-img" ng-src="">
                </div>
                <div class="center">
                    <input type="file" id="input-patient-current" custom-on-change="savePictureCurrent" file-model="patientPictureCurrent" style="margin-top: 20px">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title" style="color: black"><h5>อัพโหลดรูปภาพ หลังจัดฟัน</h5></span>
                <div style="margin: 0px auto" class="center">
                    <img id="patient-after" class="responsive-img" ng-src="">
                </div>
                <div class="center">
                    <input type="file" id="input-patient-after" custom-on-change="savePictureAfter" file-model="patientPictureAfter" style="margin-top: 20px">
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-doctor" class="modal" style="height: inherit;border-radius: 10px;">
    <div class="modal-content" style="padding: 10px">
        <div class="row center">
            <h4  class="margin-top-20 magin-buttom-20">เลือกทันตแพทย์</h4>
        </div>
        <div class="row">
            <div class="col m6 s12 input-field">
                <i class="material-icons prefix">search</i>
                <input type="text" id="search" ng-model="search.keyword">
                <label for="search" >ค้นหา : </label>
            </div>
            <div class="col m3 s12 input-field">
                <i class="material-icons prefix clear-prefix">language</i>
                <div class="select-custom">
                    <select class="browser-default" id="select-searchby" ng-model="search.searchBy" ng-init="search.searchBy = 'ลำดับ'">
                        <option value="ลำดับ">ลำดับ</option>
                        <option value="ชื่อ">ชื่อ</option>
                    </select>
                </div>
                <label class="active" style="margin-top: -10px;">ค้นหาจาก</label>
            </div>
            <div class="col m3 " style="margin-top: 30px;">
                <a class="btn-best btn-search"  ng-click="searchData()"><i class="mdi-action-search" style="margin-right: 5px"></i>ค้นหา</a>
            </div>
        </div>
        <div class="row">
            <table class="responsive-table hoverable">
                <thead>
                    <tr>
                        <th style="width: 10%">ลำดับ</th>
                        <th style="width: 25%">ชื่อ</th>
<!--                        <th style="width: 20%">อีเมลล์</th>-->
                        <th style="width: 20%">โทรศัพท์</th>
<!--                        <th style="width: 10%">สถานะ</th>-->
                        <th style="width: 20%">จัดการ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="doc in doctors.content">
                        <td>{{doc.id}}</td>
                        <td>{{doc.nameTh}}</td>
<!--                        <td>{{doc.email}}</td>-->
                        <td>{{doc.mobile}}</td>
<!--                        <td>{{doc.workStatus}}</td>-->
                        <th><a class="modal-close btn-best btn-edit" ng-click="selectDoctor(doc)">เลือก</a></th>
                    </tr>
                    
                </tbody>                  
            </table>
        </div>
        <div class="row">
            <div class="col m12">
                <ul class="pagination right" style="margin-top: 10px;">
                     <li class="btn waves-effect btn-pagination" id="first-page" ng-click="firstPage()"><p style="margin-top: 2px;">&Lt;</p></li>
                        <li class="btn waves-effect btn-pagination" id="pre-page" ng-click="prePage()"><p style="margin-top: 2px;">&LT</p>;</li>
                        <li class="btn waves-effect btn-pagination"><p style="margin-top: 2px;">{{currentPage+1}}</p></li>
                        <li class="btn waves-effect btn-pagination" id="next-page" ng-click="nextPage()"><p style="margin-top: 2px;">&GT;</p></li>
                        <li class="btn waves-effect btn-pagination" id="final-page" ng-click="finalPage()"><p style="margin-top: 2px;">&Gt;</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="model-footer right">
        <a href="" class="magin-button btn btn-gray modal-action modal-close">Cancle</a>
    </div>
</div>


<div class="row">
    <div class="container">
        <div class="row">
            <div class="offset m12" style="margin-right: 10px;">
                <a class="btn-best btn-edit right" ng-click="savePatient()" type="submit">บันทึก<i class="mdi-content-send right"></i></a>
                <a class="btn-best btn-orenge right" ng-click="clearData()" style="margin-right: 10px;" >ล้างข้อมูล <i class="mdi-action-cached right"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="warp-toast">
</div>

<div id="modal-notfont" class="modal" style="border-radius: 10px;">
    <div class="modal-content">
        <div class="row center" style="height: 150px;">
            <div style="margin-top: 60px">
                <font size="100" color="#90a4ae"> ไม่พบข้อมูล</font>
            </div>
        </div>
    </div>
</div>