<div class="container">
    <div class="card">
        <div class="card-content">
            <span class="card-title" style="font-size: 30px; font-weight:400;color: black">ค้นหาสินค้า</span>
            <div class="row">
                <div class="col m6 input-field">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search" ng-model="searchDataPriceAndExpireProduct.keyword">
                    <label for="search" >ค้นหา : </label>
                </div>
            </div>
            <div class="row">
                <div class="col m3">
                    <span><h6>ค้นหาโดย : </h6></span>
                    <div class="select-custom">
                        <select class="browser-default" id="select-searchby" ng-model="searchDataPriceAndExpireProduct.searchBy" ng-init="searchDataPriceAndExpireProduct.searchBy = 'NameProduct'">
                            <option value="LotIn">รอบสินค้า</option>
                            <option value="NameProduct">ชื่อสินค้า</option>
                            <option value="Expire">วันหมดอายุ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="margin-top: 20px">
                    <a class="btn-best btn-search green" style="margin-left:calc(3.8rem)" ng-click="searcDataContentPriceAndExpireProduct()"><i class="mdi-action-search" style="margin-right: 5px"></i>ค้นหา</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col m6">
                    <span class="card-title" style="font-size: 30px; font-weight:400;color: black">ตารางรายงานสินค้า</span>
                    <div style="margin: 20px;" ng-click="printProducts()">
                        <a class="btn-custom-radius btn-download-all" >ดาวโหลด PDF</a>
                    </div>
                </div>
                <div class="col m6">
                    <div class="right">
                        <span class="">จำนวนแถวที่แสดง : </span>
                        <select class="browser-default" ng-change="selectGetOrSearchPriceAndExpireProduct()" style="margin-top: 10px; margin-left:calc(3.8rem);width: 100px;" ng-model="rowPriceAndExpireProduct" ng-init="rowPriceAndExpireProduct = '10'">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="bordered hoverable responsive-table">
                <thead>
                <th style="width: 5%" class="table-department">ลำดับ</th>
                <th style="width: 10%" class="table-department">รอบสินค้า</th>
                <th style="width: 15%" class="table-department">ชื่อสินค้า</th>
                <!--                <th style="width: 10%" class="table-department">จำนวนสินค้า</th>-->
                <th style="width: 10%" class="table-department">ยอดคงเหลือ</th>
                <!--                <th style="width: 10%" class="table-department">ราคาซื้อ</th>-->
                <th style="width: 10%" class="table-department">ราคาขาย</th>
                <th style="width: 10%" class="table-department">วันหมดอายุ</th>
                <th style="width: 25%" class="table-department">จัดการ</th>


                </thead>
                <tbody>
                    <tr ng-repeat="paep in priceAndExpireProducts.content">
                        <td>{{paep.id}}</td>
                        <td>{{paep.lot.dateIn}}</td>
                        <td>{{paep.product.name}}</td>
                        <!--                        <td>{{paep.value}}</td>-->
                        <td>{{paep.amountRemaining}}</td>
                        <!--                        <td>{{paep.priceBuy}}</td>-->
                        <td>{{paep.priceSell}}</td>
                        <td>{{paep.expire}}</td>
                        <td>
                            <a href="" ng-click="moreDetail(paep)" class="activator btn-custom-radius btn-moredetail brown">ข้อมูลก่อนดาวโหลด</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" id="card-employee">
                <div class="col m12">
                    <ul class="pagination right" style="margin-top: 10px;">
                        <li class="btn btn-pagination" id="first-page-priceandexpireproducts" ng-click="firstPagePriceAndExpireProduct()"><p style="margin-top: 2px;">&Lt;</p></li>
                        <li class="btn btn-pagination" id="pre-page-priceandexpireproducts" ng-click="prePagePriceAndExpireProduct()"><p style="margin-top: 2px;">&LT;</p></li>
                        <li class="btn btn-pagination"><p style="margin-top: 2px;">{{currentPagePriceAndExpireProduct + 1}}</p></li>
                        <li class="btn btn-pagination" id="next-page-priceandexpireproducts" ng-click="nextPagePriceAndExpireProduct()"><p style="margin-top: 2px;">&GT;</p></li>
                        <li class="btn btn-pagination" id="final-page-priceandexpireproducts" ng-click="finalPagePriceAndExpireProduct()"><p style="margin-top: 2px;">&Gt;</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4" id="close-card">ข้อมูลสินค้า<i class="material-icons right" ng-click="toPreScroll()">close</i></span>
            <div style="margin-top: 20px;">
                <div class="row">
                    <div class="col m3 s6">
                        <label class="right topic-detail">ลำดับ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.id}}</label>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col m3 s6">
                        <label class="right topic-detail">รอบสินค้า : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.lot.dateIn}}</label>
                    </div>
                    <div class="col m3 s6">
                        <label class="right topic-detail">ชื่อสินค้า : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.product.name}}</label>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col m3 s6">
                        <label class="right topic-detail">จำนวนสินค้า : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.value}}</label>
                    </div>
                    <div class="col m3 s6">
                        <label class="right topic-detail">ยอดคงเหลือ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.amountRemaining}}</label>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col m3 s6">
                        <label class="right topic-detail">แจ้งเตือนจำนวนสินค้า : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.notificationsValue}}</label>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col m3 s6">
                        <label class="right topic-detail">ราคาซื้อ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.priceBuy}}</label>
                    </div>
                    <div class="col m3 s6">
                        <label class="right topic-detail">ราคาขาย : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.priceSell}}</label>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col m3 s6">
                        <label class="right topic-detail">วันหมดอายุ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.expire}}</label>
                    </div>
                    <div class="col m3 s6">
                        <label class="right topic-detail">แจ้งเตือนวันหมดอายุ : </label>
                    </div>
                    <div class="col m3 s6">
                        <label class=" topic-detail">{{priceAndExpireProductsDetail.notificationsExpire}}</label>
                    </div>
                </div>
                <div class="row margin-top-20 center" style="margin-right: 10px">
                    <a class="btn-custom-radius btn-cancelv2" ng-click="cancel()"><i class="mdi-content-clear"></i></a>
                    <a class="btn-custom-radius btn-download" ng-click="printProduct(priceAndExpireProductsDetail.id)"><i class="mdi-action-description"></i> PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-notfont" class="modal" style="border-radius: 10px;">
    <div class="modal-content">
        <div class="row center" style="height: 150px;">
            <div style="margin-top: 60px">
                <font size="100" color="#90a4ae"> ไม่พบข้อมูล</font>
            </div>
        </div>
    </div>
</div>